{% extends "bootstrap_5_layout.html" %}

{% block content %}

    <h2>About Us</h2>

    <p>This is a platform used to analyze user's Spotify playlist data, including user's favorite artists, genres, and audio features. 
        It helps us know better about user's music preference and taste so that software developer could develop state-of-art music recommendation algorithms
    </p>
    
    <p>This web is developed by Jiazan and Amy.</p>

    <h2>Usage</h2>

    <p>This platform has 3 pages: Playlist Details, Artists, Audio Features. 
        Just simply input the playlist URL you want to analyze, you will get the information about this playlist.
    </p>

    <p>The 'Playlist Details' page returns a list of songs and artists in the playlist, and also the popularity of those songs.</p>

    <p>The 'Artists' page tells you who is the most welcomed artist in the playlist, and the high-frequent genres in this playlist. 
        That reflects favorite artists of the user who created the playlist, and the genres they like most
    </p>
    
    <p>The 'Audio Features' page gives you the average audio features in this playlist, such as danceability and liveness.</p> 
    

{% endblock %}