{% extends "bootstrap_5_layout.html" %}
{% set active_page = "Artists" %}

{% block content %}

    <h2>Favorite Artists & Genres</h2>

    <p class="lead">Here is the favorite artists and genres in this playlist</p>

    <div id="chart-container" height="700px"></div>

    <p>Artists in this playlist</p>
    <div id="chart-container">
        {{ artist_chart | safe }}
    </div>


    <p>Genres in this playlist</p>
    <div id="chart-container">
        {{ genre_chart | safe }}
    </div>


    
{% endblock %}
