{% extends "bootstrap_5_layout.html" %}
{% set active_page = "audio_dashboard" %}

{% block content %}

    <h2>Audio Dashboard </h2>

    <p class="lead">Here is the analysis for music audio features in the {{ owner }} 's playlist {{ name }}.</p>

    <!--
    <div id="chart-container" height="700px"></div>
    <div id="chart-container">
        {{ chart_html | safe }}
    </div>
    -->

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="chart-container">
                    <div>
                        {{ polar_chart | safe }}
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="chart-container">
                    <div>
                        {{ box_chart | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
        BOOTSTRAP TABLES
        https://getbootstrap.com/docs/5.0/content/tables/
    
    <table class="table table-hover table-responsive caption-top">
        <caption>Feature Data</caption>
        <thead>
            <tr>
                <th scope="col">Feature</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>

       
        {% for row in data %}
            <tr>
                <td>{{ row["feature"] }}</td>
                <td>{{ row["value"] }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    -->

    
{% endblock %}
