{% extends "bootstrap_5_layout.html" %}

{% block content %}

    <h2>Welcome to Spotify Playlist Analysis Platform</h2>

    <p>This is a platform used to analyze Spotify playlist data, including user's favorite artists, genres, and audio features.
        The platform is connected with Spotify API that allows us to get data about tracks, artists, and other interesting data.
        With this platform, it's easy to get insights into the music taste and prefernece of the playlist owner.
    </p>
    


    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://raw.githubusercontent.com/JiazanShi/MySpotify_Preference_web/main/Spotify.jpg" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="https://raw.githubusercontent.com/JiazanShi/MySpotify_Preference_web/main/Spotify2.jpg" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="https://raw.githubusercontent.com/JiazanShi/MySpotify_Preference_web/main/Spotify3.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>


{% endblock %}