{% extends "bootstrap_5_layout.html" %}

{% block content %}

    <h1>Welcome to our Spotify Music Analysis Platform</h1>

    <p>This is a platform used to analyze user's Spotify playlist data, including user's favorite artists, genres, and audio features.</p>

    <!-- SEE: https://getbootstrap.com/docs/5.2/components/carousel/ -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://images.app.goo.gl/53n73iwZZbQ2Hv7Q6" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>


{% endblock %}