{% extends "bootstrap_5_layout.html" %}
{% set active_page = "Playlist_Details" %}

{% block content %}

    <h2>Playlist Details </h2>

    <p class="lead">You're getting access to {{ owner }} 's playlist {{ name }}, {{num_tracks}} songs in it </p>

    <!--
        BOOTSTRAP TABLES
        https://getbootstrap.com/docs/5.0/content/tables/
    -->
    <table class="table table-hover table-responsive caption-top">
        <caption>Tracks in the playlist</caption>
        <thead>
            <tr>
                <th scope="col">Album</th>
                <th scope="col">Track</th>
                <th scope="col">Artist</th>
                <th scope="col">Popularity</th>
            </tr>
        </thead>
        <tbody>

        <!--
            JINJA FOR LOOP
            https://jinja.palletsprojects.com/en/3.1.x/templates/
        -->
        {% for row in data %}
            <tr>
                <td><img src="{{ row['album_cover'] }}" ></td>
                <td>{{ row["track_name"] }}</td>
                <td>{{ row["artist_name"] }}</td>
                <td>{{ row["track_popularity"] }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <!--
    <div id="chart-container" height="700px"></div>
    <div id="chart-container">
        {{ chart_html | safe }}
    </div>
    -->

    
{% endblock %}
